<!DOCTYPE html>
<html lang="en">
  {% include "utils/header.html" %}
<body>
  <link rel="stylesheet" href="/frontend/static/styles.css">
    {% include "utils/top_nav.html" %}
  <section id="mainBanner" >
      <p style="background-image: url('static_img[2]');">
      <h4>Trade-in-offer</h4>
      <h2>Super value deals</h2>
      <h1>On all products</h1>
      <p>Save more with coupens & up to 70% off!</p>
      <button type="button">Shop Now</button>
  </section>
  <a class="button" href="/multipart_create_product">Create Products</a>
  <button class="button is-primary">
    Button
  </button>
    {% include "utils/featured_products.html" %}
</body>
</html>




















